body{
	background-color:bisque;
	color:brown;
}
#main{
width:960px;
margin:50px auto;
font-family:raleway;
}

span{
color:red;
}

h2{
text-align:center;
border-radius: 10px 10px 0 0;
margin: -10px -40px;
padding: 30px;
}

#login{

width:300px;
float: left;
border-radius: 10px;
font-family:raleway;
border: 2px solid #ccc;
padding: 10px 40px 25px;
margin-top: 70px;
}

input[type=text],input[type=password], input[type=email]{

padding: 10px;
margin-top: 8px;
border: 1px solid #ccc;
padding-left: 5px;
font-size: 16px;
font-family:raleway;
}

input[type=submit]{

background-color:brown;
color: white;
border: 2px solid brown;
padding: 10px;
font-size:20px;
cursor:pointer;
border-radius: 5px;
margin-bottom: 15px;
}

#profile{
margin-top:50px;	
padding:50px;
border:1px dashed grey;
font-size:20px;

}

#logout{
float:right;
padding:5px;
border:dashed 1px gray;
margin-top: -168px;
}

a{
text-decoration:none;
color: blue;
}

i{
color: cornflowerblue;
}
.clear{
	clear:both;
}
.table_div{
	margin-top:40px;
}
.error_msg{
color:red;
font-size: 16px;
}

.message{
position: absolute;
font-weight: bold;
font-size: 28px;
color: #6495ED;
left: 262px;
width: 500px;
text-align: center;
}
.menu_link {
	margin-top: 30px;
	width:100%;
}
.menu_link a{ 
    padding: 6px;
    background-color: brown;
    border-radius: 3px;
    margin-left: 5px;
    color: #fff;
}
.form_details{
	width:50%;
}
.form_details .left{
	width:20%; 
	float:left;
}
.container{
	margin:20px;
	padding:20px;
}
.searched_result table , .form_details_stud , .subject_list .get_student_list , .section_class .choose_section{
	margin-top:20px;
}
.table_list {
	width:50%;
	float:left;
}
.form_details_stud label, .form_details_stud input {
	margin-right:20px;
}
.form_details_stud h4{
	margin:0!important;
}
.choose_exam_div button , .exam_subject button{
	background-color: brown;
    color: white;
    border: 2px solid brown;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;    
    margin-bottom: 15px;
    margin-right: 15px;	
}

.container select{
	padding: 5px;
    border-radius: 5px;
    border: 1px solid brown;
}
.section_class input[type=submit]{
	margin-left:20px;
}
.form_details select{
	width:30%;
}
.attendance_class .left{
	float:none!important;
	margin-top:20px;
	margin-bottom:20px;
}
.attendance_table th{ text-align:left;}
.attendance_table td{text-align:center;}
